* {
    background-color: #121212;
    color: #e2e1e0;
}

.PagePanel {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 44px;

    text-align: center;
}

footer {
    width: 100%;
    height: auto;
}

button {
    border: 0px;
    cursor: pointer;
    height: 40px;
    color: #e2e1e0;
    background-color: #3b3b3b;
    border-radius: 4px;
}

button:active {
    background-color: #545454;
}

.Button {
    border: 0px;
    height: 44px;
    width: 44px;
    cursor: pointer;
    background-size: 44px;
    background-color: #121212;
}
